ll
line_lists
DATA
archive
.vscode
plots
runs
Turbospectrum_NLTE_20.1
test/test1/atm
test/test1/co
test/test1/dc_test
test/test1/dc_test_sun
test/test1/NLTE
test/test1/ss
test/test1/dummy-output.dat
test/test1/log.txt
test/test1/ss
*.png
data
TiO.tar
TiO_ll
log.txt
__pycache__